:root {
    --main-color: #2980b9;
}

* {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

.container {
    margin: 0 auto;
    width: 70%;
}

hr {
    background-color: var(--main-color);
    height: 1px;
    border: 0;
    margin: 0 auto 10px;
}

a {
    text-transform: none;
    text-decoration: none;
}

.icon {
    color: var(--main-color);
}

/* ===========================================================================
                    NAVBAR
=========================================================================== */
.background {
    background-image: url(..//images/background.jpg);
    background-color: black;
    background-blend-mode: luminosity;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    width: 100vw;
    height: 100vh;
    max-width: 100%;

}

nav {
    background-color: white;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

nav .navbar {
    padding: 10px;
    margin: 0 170px;
}

nav .navbar-brand {
    color: black;
    font-size: 20px;
    font-weight: 700;
}
nav span {
    color: var(--main-color);
}

ul.navbar-nav {
    float: right;
    
}

.navbar-nav li {
    display: inline;
    padding: 0 8px;
    font-size: 15px;
    font-weight: 500;
}

nav .nav-item .active {
    color: var(--main-color);
}

.navbar-nav li a {
    color: rgb(49, 48, 48);
}

/* ==============================================================================
                                Start Home
==================================================================================*/
.home {
    padding-top: 250px;
    text-align: center;
    text-transform: uppercase;
    color: antiquewhite;
}

.home p {
    letter-spacing: 1px;
    font-size: 20px;
    margin-bottom: 30px;
}

.home h3 {
    letter-spacing: 2px;
    font-size: 25px;
    margin-bottom: 30px;
}

.home a {
    border: 1px solid white;
    text-transform: uppercase;
    border-radius: 7px;
    padding: 10px 30px;
}

.home a.diff-color {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: white;
}

.home .home-links {
    margin-bottom: 200px;
}

.home span {
    color: var(--main-color);
}

/* ==============================================================================
                                End Home
==================================================================================*/

/* ==============================================================================
                                start port
==================================================================================*/
.about {
    text-align: center;
    background-color: #dfe4ea;
    overflow: hidden;

}

.about .info {
    margin: 40px 10%;
}

.about .sub-part {
    background-color: #fff;
    float: left;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 3% 1%;
    padding: 30px 1%;
    width: 28%;
}

.about .sub-part .icon {
    font-size: 25px;
    padding: 10px 0;
}

.about .sub-part h5 {
    padding: 2% 0;
}
.about .sub-part p {
    padding: 2% 5% 7%;
    font-size: 15px;
    color: rgb(39, 38, 38);
}
/* ==============================================================================
                                End clients
==================================================================================*/
.client{
    text-align: center;
    padding: 9% 0 5%;
}
.client p{
    padding: 1% 30%;
}
.client p.MR {
    opacity: 0.8;
    font-size: 10px;
    text-transform: uppercase;
}
.client .icon{
    font-size: 35px;
    padding: 5%;
}


/* ==============================================================================
                                footer
==================================================================================*/
footer{
    padding: 2.5%;
    background-color: var(--main-color);
    color: #fff;
}
footer .owner-info{
    float: left;
    width: 50%;
}
footer .social{
    color: #fff;
    float: right;
    padding: 0 1%;
}
footer .social .icon{
    color: #fff;
}